<!-- BEGIN_INCLUDE(digitalocean:get-user-information) -->
    <digitalocean:get-user-information/>
<!-- END_INCLUDE(digitalocean:get-user-information) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-actions) -->
    <digitalocean:list-all-actions/>
<!-- END_INCLUDE(digitalocean:list-all-actions) -->
<!-- BEGIN_INCLUDE(digitalocean:retrieve-existing-action) -->
    <digitalocean:retrieve-existing-action actionId="36804636"/>
<!-- END_INCLUDE(digitalocean:retrieve-existing-action) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-domains) -->
    <digitalocean:list-all-domains/>
<!-- END_INCLUDE(digitalocean:list-all-domains) -->
<!-- BEGIN_INCLUDE(digitalocean:retrieve-existing-domain) -->
    <digitalocean:retrieve-existing-domain domainName="digitaloceanisthebombdiggity.com"/>
<!-- END_INCLUDE(digitalocean:retrieve-existing-domain) -->
<!-- BEGIN_INCLUDE(digitalocean:create-new-domain) -->
    <digitalocean:create-new-domain message="#[payload]"/>
<!-- END_INCLUDE(digitalocean:create-new-domain) -->
<!-- BEGIN_INCLUDE(digitalocean:delete-existing-domain) -->
    <digitalocean:delete-existing-domain domainName="digitaloceanisthebombdiggity.com"/>
<!-- END_INCLUDE(digitalocean:delete-existing-domain) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-domain-records) -->
    <digitalocean:list-all-domain-records domainName="digitaloceanisthebombdiggity.com"/>
<!-- END_INCLUDE(digitalocean:list-all-domain-records) -->
<!-- BEGIN_INCLUDE(digitalocean:retrieve-existing-domain-record) -->
    <digitalocean:retrieve-existing-domain-record domainName="digitaloceanisthebombdiggity.com" recordId="3352896"/>
<!-- END_INCLUDE(digitalocean:retrieve-existing-domain-record) -->
<!-- BEGIN_INCLUDE(digitalocean:create-new-domain-record) -->
    <digitalocean:create-new-domain-record domainName="digitaloceanisthebombdiggity.com" message="#[payload]"/>
<!-- END_INCLUDE(digitalocean:create-new-domain-record) -->
<!-- BEGIN_INCLUDE(digitalocean:update-existing-domain-record) -->
    <digitalocean:update-existing-domain-record domainName="digitaloceanisthebombdiggity.com" recordId="3352896" message="#[payload]"/>
<!-- END_INCLUDE(digitalocean:update-existing-domain-record) -->
<!-- BEGIN_INCLUDE(digitalocean:delete-existing-domain-record) -->
    <digitalocean:delete-existing-domain-record domainName="digitaloceanisthebombdiggity.com" recordId="3352896"/>
<!-- END_INCLUDE(digitalocean:delete-existing-domain-record) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-droplets) -->
    <digitalocean:list-all-droplets/>
<!-- END_INCLUDE(digitalocean:list-all-droplets) -->
<!-- BEGIN_INCLUDE(digitalocean:retrieve-existing-droplet) -->
    <digitalocean:retrieve-existing-droplet dropletId="3164494"/>
<!-- END_INCLUDE(digitalocean:retrieve-existing-droplet) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-available-kernels-for-droplet) -->
    <digitalocean:list-all-available-kernels-for-droplet dropletId="3164494"/>
<!-- END_INCLUDE(digitalocean:list-all-available-kernels-for-droplet) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-snapshots-for-droplet) -->
    <digitalocean:list-all-snapshots-for-droplet dropletId="3164494"/>
<!-- END_INCLUDE(digitalocean:list-all-snapshots-for-droplet) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-backups-for-droplet) -->
    <digitalocean:list-all-backups-for-droplet dropletId="3164494"/>
<!-- END_INCLUDE(digitalocean:list-all-backups-for-droplet) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-actions-for-droplet) -->
    <digitalocean:list-all-actions-for-droplet dropletId="3164494"/>
<!-- END_INCLUDE(digitalocean:list-all-actions-for-droplet) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-neighbors-for-droplet) -->
    <digitalocean:list-all-neighbors-for-droplet dropletId="3164494"/>
<!-- END_INCLUDE(digitalocean:list-all-neighbors-for-droplet) -->
<!-- BEGIN_INCLUDE(digitalocean:create-new-droplet) -->
    <digitalocean:create-new-droplet message="#[payload]"/>
<!-- END_INCLUDE(digitalocean:create-new-droplet) -->
<!-- BEGIN_INCLUDE(digitalocean:delete-existing-droplet) -->
    <digitalocean:delete-existing-droplet dropletId="3164494"/>
<!-- END_INCLUDE(digitalocean:delete-existing-droplet) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-droplet-neighbors) -->
    <digitalocean:list-all-droplet-neighbors/>
<!-- END_INCLUDE(digitalocean:list-all-droplet-neighbors) -->
<!-- BEGIN_INCLUDE(digitalocean:list-droplet-upgrades) -->
    <digitalocean:list-droplet-upgrades/>
<!-- END_INCLUDE(digitalocean:list-droplet-upgrades) -->
<!-- BEGIN_INCLUDE(digitalocean:execute-droplet-action) -->
    <digitalocean:execute-droplet-action dropletId="3164450" message="#[payload]"/>
<!-- END_INCLUDE(digitalocean:execute-droplet-action) -->
<!-- BEGIN_INCLUDE(digitalocean:retrieve-existing-droplet-action) -->
    <digitalocean:retrieve-existing-droplet-action dropletId="3164450" actionId="36804807"/>
<!-- END_INCLUDE(digitalocean:retrieve-existing-droplet-action) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-images) -->
    <digitalocean:list-all-images/>
<!-- END_INCLUDE(digitalocean:list-all-images) -->
<!-- BEGIN_INCLUDE(digitalocean:retrieve-existing-image) -->
    <digitalocean:retrieve-existing-image imageId="7555620"/>
<!-- END_INCLUDE(digitalocean:retrieve-existing-image) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-actions-for-image) -->
    <digitalocean:list-all-actions-for-image imageId="7555620"/>
<!-- END_INCLUDE(digitalocean:list-all-actions-for-image) -->
<!-- BEGIN_INCLUDE(digitalocean:update-existing-image) -->
    <digitalocean:update-existing-image imageId="7555620" message="#[payload]"/>
<!-- END_INCLUDE(digitalocean:update-existing-image) -->
<!-- BEGIN_INCLUDE(digitalocean:delete-existing-image) -->
    <digitalocean:delete-existing-image imageId="7555620"/>
<!-- END_INCLUDE(digitalocean:delete-existing-image) -->
<!-- BEGIN_INCLUDE(digitalocean:execute-image-action) -->
    <digitalocean:execute-image-action imageId="7938291" message="#[payload]"/>
<!-- END_INCLUDE(digitalocean:execute-image-action) -->
<!-- BEGIN_INCLUDE(digitalocean:retrieve-existing-image-action) -->
    <digitalocean:retrieve-existing-image-action imageId="7938269" actionId="36805527"/>
<!-- END_INCLUDE(digitalocean:retrieve-existing-image-action) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-keys) -->
    <digitalocean:list-all-keys/>
<!-- END_INCLUDE(digitalocean:list-all-keys) -->
<!-- BEGIN_INCLUDE(digitalocean:retrieve-existing-key) -->
    <digitalocean:retrieve-existing-key keyId="512190"/>
<!-- END_INCLUDE(digitalocean:retrieve-existing-key) -->
<!-- BEGIN_INCLUDE(digitalocean:create-new-key) -->
    <digitalocean:create-new-key message="#[payload]"/>
<!-- END_INCLUDE(digitalocean:create-new-key) -->
<!-- BEGIN_INCLUDE(digitalocean:update-existing-key) -->
    <digitalocean:update-existing-key keyId="512190" message="#[payload]"/>
<!-- END_INCLUDE(digitalocean:update-existing-key) -->
<!-- BEGIN_INCLUDE(digitalocean:delete-existing-key) -->
    <digitalocean:delete-existing-key keyId="512190"/>
<!-- END_INCLUDE(digitalocean:delete-existing-key) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-regions) -->
    <digitalocean:list-all-regions/>
<!-- END_INCLUDE(digitalocean:list-all-regions) -->
<!-- BEGIN_INCLUDE(digitalocean:list-all-sizes) -->
    <digitalocean:list-all-sizes/>
<!-- END_INCLUDE(digitalocean:list-all-sizes) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-account-response) -->
    <digitalocean:string-to-account-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-account-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-action-collection-response) -->
    <digitalocean:string-to-action-collection-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-action-collection-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-action-response) -->
    <digitalocean:string-to-action-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-action-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-domain-collection-response) -->
    <digitalocean:string-to-domain-collection-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-domain-collection-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-domain-response) -->
    <digitalocean:string-to-domain-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-domain-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-domain-record-collection-response) -->
    <digitalocean:string-to-domain-record-collection-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-domain-record-collection-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-domain-record-response) -->
    <digitalocean:string-to-domain-record-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-domain-record-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-droplet-collection-response) -->
    <digitalocean:string-to-droplet-collection-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-droplet-collection-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-droplet-response) -->
    <digitalocean:string-to-droplet-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-droplet-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-kernel-collection-response) -->
    <digitalocean:string-to-kernel-collection-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-kernel-collection-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-neighbors-collection-response) -->
    <digitalocean:string-to-neighbors-collection-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-neighbors-collection-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-upgrade-collection-response) -->
    <digitalocean:string-to-upgrade-collection-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-upgrade-collection-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-image-collection-response) -->
    <digitalocean:string-to-image-collection-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-image-collection-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-image-response) -->
    <digitalocean:string-to-image-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-image-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-key-collection-response) -->
    <digitalocean:string-to-key-collection-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-key-collection-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-key-response) -->
    <digitalocean:string-to-key-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-key-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-region-collection-response) -->
    <digitalocean:string-to-region-collection-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-region-collection-response) -->
<!-- BEGIN_INCLUDE(digitalocean:string-to-size-collection-response) -->
    <digitalocean:string-to-size-collection-response json="{sample:'object'}"/>
<!-- END_INCLUDE(digitalocean:string-to-size-collection-response) -->
<!-- BEGIN_INCLUDE(digitalocean:create-domain-record-request-to-string) -->
    <digitalocean:create-domain-record-request-to-string request=""/>
<!-- END_INCLUDE(digitalocean:create-domain-record-request-to-string) -->
<!-- BEGIN_INCLUDE(digitalocean:create-domain-request-to-string) -->
    <digitalocean:create-domain-request-to-string request=""/>
<!-- END_INCLUDE(digitalocean:create-domain-request-to-string) -->
<!-- BEGIN_INCLUDE(digitalocean:create-droplet-request-to-string) -->
    <digitalocean:create-droplet-request-to-string request=""/>
<!-- END_INCLUDE(digitalocean:create-droplet-request-to-string) -->
<!-- BEGIN_INCLUDE(digitalocean:create-key-request-to-string) -->
    <digitalocean:create-key-request-to-string request=""/>
<!-- END_INCLUDE(digitalocean:create-key-request-to-string) -->
<!-- BEGIN_INCLUDE(digitalocean:update-domain-record-request-to-string) -->
    <digitalocean:update-domain-record-request-to-string request=""/>
<!-- END_INCLUDE(digitalocean:update-domain-record-request-to-string) -->
<!-- BEGIN_INCLUDE(digitalocean:update-image-request-to-string) -->
    <digitalocean:update-image-request-to-string request=""/>
<!-- END_INCLUDE(digitalocean:update-image-request-to-string) -->
<!-- BEGIN_INCLUDE(digitalocean:update-key-request-to-string) -->
    <digitalocean:update-key-request-to-string request=""/>
<!-- END_INCLUDE(digitalocean:update-key-request-to-string) -->